*:*
a.out
*.exe
*.object
*.o
*.swp
*.a
*.dll
*.lib
*.so
*.pyc
*.luac
cscope.*
build/
.settings/
Debug/
Release/
*.sln
.project
.cproject
*~
*.bak
*.old
old/
bak/
backup/
yacl/old/
yacl/bak/
yacl/backup/
src/old/
src/bak/
src/backup/
