[submodule "vim-plugins/vim-pathogen"]
	path = vim-plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-plugins/nerdtree"]
	path = vim-plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/ctrlp.vim"]
	path = vim-plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-plugins/vim-hemisu"]
	path = vim-plugins/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu.git
[submodule "go/src/github.com/justmao945/mallory"]
	path = go/src/github.com/justmao945/mallory
	url = git@github.com:justmao945/mallory
[submodule "vim-plugins/python-mode"]
	path = vim-plugins/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim-plugins/vim-json"]
	path = vim-plugins/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim-plugins/vim-javascript"]
	path = vim-plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-plugins/vim-coffee-script"]
	path = vim-plugins/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
