[submodule "vim-plugins/vim-pathogen"]
	path = vim-plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-plugins/nerdtree"]
	path = vim-plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/ctrlp.vim"]
	path = vim-plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-plugins/vim-hemisu"]
	path = vim-plugins/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu.git
[submodule "go/src/github.com/justmao945/mallory"]
	path = go/src/github.com/justmao945/mallory
	url = git@github.com:justmao945/mallory
[submodule "vim-plugins/python-mode"]
	path = vim-plugins/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim-plugins/vim-json"]
	path = vim-plugins/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim-plugins/vim-javascript"]
	path = vim-plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-plugins/vim-coffee-script"]
	path = vim-plugins/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-plugins/vim-jade"]
	path = vim-plugins/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim-plugins/DrawIt"]
	path = vim-plugins/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "vim-plugins/vim-go"]
	path = vim-plugins/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim-plugins/vim-colors-solarized"]
	path = vim-plugins/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "neocomplete.vim"]
	path = neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "vim-plugins/neocomplete.vim"]
	path = vim-plugins/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "vim-plugins/rust.vim"]
	path = vim-plugins/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
