[user]
  name = Jianjun Mao
  email = justmao945@gmail.com

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[color "branch"]
  current = green
  remote = yellow

[core]
  editor = vim
  pager = less -FRSX
  mergeoptions = --no-edit
  quotepath = false
  preloadindex = true
  fscache = true

[gc]
  auto = 256

[alias]
  a = add -A :/
  b = branch
  c = checkout
  d = !git diff --color $@
  f = fetch --all
  dc = !git diff --cached --color $@
  l = !git lg
  m = commit
  ma = commit --amend
  p = push
  r = remote -v
  s = status
  sf = status -uno
	u = pull
  x = commit -m update

  stat = !git --no-pager diff --stat

    # clean merged branches
  sweep = !git branch --merged master | grep -v 'master$' | xargs git branch -d && git remote prune origin

  lg = !git lg1
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(magenta)- %an%C(reset)%C(bold red)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)%aD %C(bold green)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(white)%s%C(reset) %C(magenta)- %an%C(reset)' --all
  #lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(black)%s%C(reset) %C(magenta)- %an%C(reset)%C(bold red)%d%C(reset)' --all
  #lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)%aD %C(bold green)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(black)%s%C(reset) %C(magenta)- %an%C(reset)' --all

    # serve local repo, others can access via `git clone git://`
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git

  visual = !gitk

[merge]
  tool = vimdiff

[diff]
  tool = vimdiff

[url "git@github.com:"]
  pushInsteadOf = https://github.com/

[push]
  default = simple

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[help]
  autocorrect = 1

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
